@import '_settings'

normalize()
base()

body
  padding: 50px
  background black
  
.btn
	simple-button orange
	float center
	size: 220 55
	margin-top 0%
	
.nametext
	float center
	size: 220 55
	margin-top 0%
	background: white